@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.strike {
  width: calc(100%);
  background-image: linear-gradient(black, black 10px);
  background-repeat: no-repeat;
  background-size: 0% 2px;
  background-position: left calc(50% + 1px);
  transition: background-size 1s;
}

.strike.active {
  background-size: 100% 2px;
}